
    <!-- ********************* DASHBOARD OF ADMIN PAGE ****************** -->


        <%- include('_admin'); %>

        <div class="col-9">
            <section class="dashboard">
                <div class="card-container">
                        <div id ="card1">
                            <h4 class="card-heading">Total Registerd Employee</h3>
                            <p>0</p>
                        </div>
                        <div id ="card2">
                            <h4 class="card-heading">Listed Department</h3>
                            <p>0</p>
                        </div>
                        <div id ="card3">
                            <h4 class="card-heading">Listed Leave Type</h3>
                            <p>0</p>
                        </div>
                </div>

                <div class="main-container">
                    <h4 id="page-title" style="margin-left: 20px;">Latest Leave Application</h4>
                    <ul>
                        <li># Employee Name</li>
                        <li>Leave Type</li>
                        <li>Posting Date</li>
                        <li>Status</li>
                    </ul>
                </div>
            </section>
        </div>
