
  <div class="header"> 

    <!-- <% if (locals.admin) { %>
      <h2><%= admin.name %></h2>
      <p><%= admin.email %></p>

      <% } %> -->


        <div class="full-cont">
          <div class="logo-cont">
            <img src="../images/logo_image.jpg" alt="cuk">
          </div>	
            <h1 id="heading">Central University of Karnatka</h1>
        </div>
 
        <div class="web-title">
          
          <marquee width="100%" direction="right" height="100px">
            Welcome to "CUK Employee Leave System" 
          </marquee>

        </div>
       
  </div>