
        
	<div class="row">

		<div class="col-3 menu">
			<ul>
				<li> <a href=""> Dean SignIn </a></li>
				<li> <a href=""> Faculty SignIn </a></li>
				<li> <a href="/admins/sign-in">Admin SignIn </a> </li>

			</ul>
		</div>


		<div class="col-9 ">
			<div class="aside">
				<h3>Cuk Employee leave Managment system</h3>
				<div class="cuklogo">
        		 </div>
				<p>This new online leave management system is one of the
					new initiatives by our University towards digitalizing
					all its services with a focus on decreasing the paper
					work and brings in transparency in maintaining the records.
					This step by our University connects us with other premier
					institutions in realizing the larger dream of Digital India
					Initiative by the Government of India. The main focus of this
					online system is to bring down the time delay in leave application
					and approval. It also enhances transparency of leave records for
					the access of the employee anytime and anywhere in the world.
					The systems team encourage all the faculty members to access
					and use this new system and send in your feedback and suggestions
					for improving this system to <a href="registrar@cuk.ac.in"><span style="color: black;">registrar@cuk.ac.in</span></a></p>
			</div>
		</div>
	</div>

