

        <%- include('_admin'); %>
    
    <!-- ********************** ADD LEAVE CODE START HERE ***************************  -->
    <div class="col-9">
        <h2 id="addemployeetitle">Add Employee</h2>
        <div class="add-employee">
            <form action="/employees/create" method="POST">
                <div id="input-left">	
                        <label class="lab" for="emp"><b>Employee Code</b></label>
                        <input class="inp" type="text" name="employee_code" placeholder="Employee Registration Number" required="true">
                        <label  class="lab" for="fname"><b>First Name</b></label>
                        <input class="inp" type="text" name="firstname" placeholder="Sujeet" required="true">
                        <label class="lab" for="lname"><b>Last Name</b></label>
                        <input class="inp" type="text" name="lastname" placeholder="Kumar" required="true">
                        <label class="lab" for="label"><b>Email-id</b></label>
                        <input class="inp" type="text" name="email" placeholder="abc.123@gmail.com" required="true">
                        <label class="lab" for="password"><b>Password</b></label>
                        <input class="inp" type="password" name="password" placeholder="**********" required="true">
                </div>		

                <div id="input-center">	
                        <label class="lab" for="reg_date"><b>Registration Date</b></label>
                        <input class="inp" type="date" name="reg_date" placeholder="Registration Date" required="true" >
                        <label class="lab" for="gender"><b>Gender</b></label>
                        <input class="inp" type="text" name="gender" placeholder="Male" required="true">
                        <label class="lab" for="department"><b>Your Department</b></label>
                        <input class="inp" type="text" name="department" placeholder="MCA" required="true">
                        <label class="lab" for="birthday"><b>Birthday</b></label>
                        <input class="inp" type="date" id="birthday" name="dob" required="true">
                        <label class="lab" for="address"><b>Country</b></label>
                        <input class="inp" type="text" name="country" placeholder="Country" required="true">
                </div>		

                <div id="input-right">	
                        <label class="lab" for="city"><b>City/Town</b></label>
                        <input class="inp" type="text" name="city" placeholder="Gulbarga" required="true">
                        <label class="lab" for="state"><b>State</b></label>
                        <input class="inp" type="text" name="state" placeholder="Karnatka" required="true">
                        <label class="lab" for="pin"><b>Pin Code</b></label>
                        <input class="inp" type="tet" name="pincode" placeholder="567899" required="true">
                        <label class="lab" for="number"><b>Mobile Number</b></label>
                        <input class="inp" type="text" name="phone" placeholder="9999999999" required="true">
                        <button type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>

	