
        <%- include('_admin'); %>

<!-- **************** ADD DEPARTMENT CODE START HERE ************* -->
    <div class="col-9">
        <h2 id="addeparttitle">Add Department</h2>
        <div class="add-department">
            <form action="" >
                <label for="depname"><b>Department Name</b></label>
                <input type="text" name="depaertment-name" placeholder="Department Name" required="true">
                <label for="shortname"><b>Department Short Name</b></label>
                <input type="text" name="shortname" placeholder="Department Short Name" required="true">
                <label for="code"><b>Department Code</b></label>
                <input type="text" name="code" placeholder="Department Code" required="true">
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
