
		<div class="col-6 center">
            <!-- ************** Admin Login ****************** -->
                <div id="id01" class="modal">
                        <p> Admin Login</p>
                        <div class="cuklogo">
                            
                        </div>
                    <form action="/admins/create-session" method="post">
                      <div class="container">
                        <label for="uname">Admin Email</label>
                        <input type="email" placeholder="Enter Email" name="email" required>
                  
                        <label for="psw">Admin Password</label>
                        <input type="password" placeholder="Enter Password" name="password" required>
                          
                        <button type="submit">Sign In</button>
                        
                      </div>
                  
                      <div class="container2" style="background-color:#f1f1f1" >
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                        <span class="psw">Forgot <a href="#">password?</a></span>
                      </div>
                    </form>
                  </div>			  
            </div>
    