
        <%- include('_admin'); %>

        <!-- ********************** ADD LEAVE CODE START HERE ***************************  -->
        <div class="col-9">
            <h2 id="addleavetitle">Edit Leave</h2>
            <div class="add-leave">
                <form action="/leaves/update-leave" method="POST">
                    <input type="hidden" name="_id" value="<%= leave._id %>" >
                    <label for="leave"><b>Leave Type</b></label>
                    <input type="text" name="leavename" placeholder="Leave Name" required="true" value="<%= leave.leavename %>">
                    <label for="des"><b>Description</b></label>
                    <input type="text" name="description" placeholder="Description" required="true" value="<%= leave.description %>">
                    <button type="submit">Update</button>
                </form>
            </div>
        </div>
            